# Backend API endpoint
NEXT_PUBLIC_API_URL=http://localhost:8080

# Initia Network Configuration
NEXT_PUBLIC_RPC_URL=https://jsonrpc-evm-1.anvil.asia-southeast.initia.xyz
NEXT_PUBLIC_CHAIN_ID=2124225178762456

# Smart Contract Addresses (deployed on Initia)
NEXT_PUBLIC_VAULT_ADDRESS=0x4e91C13158D3E0a8F8fBb7cce91712c6F9886690
NEXT_PUBLIC_USDC_ADDRESS=0x8A2cCc6764063904745BBA687AF11190f7a50461
